/*navbar
-------------------------------------------------------------*/
.navbar-inverse.ischanged{
  width:auto;
  position: relative;
  /*background-color: #b3ff66;*/
  background-color:  #111;
 /* border-bottom: 3px #080808 solid;*/
}
.navbar.fixed{
  margin-bottom: 0px;
  min-height: 40px;
}
.menu_icon{
  float: left;
  padding-left: 10px;
  padding-top: 5px;
  color: white;
}
.icon:hover{
  background-color: #3b5998;
  
}
.cart_icon{
  float: right;
  padding-right: 10px;
  padding-top: 5px;
  width: 100px;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  color: white;
}
.cart_icon p {
  margin: 0;
  text-align: center;
  font-size: 14px;
  align-items: center;
  flex: auto;
  width: 40px;
  height: 50px;
  float: left;
  line-height: 50px;
  white-space: nowrap;
}
.logo{
  width: 50px;
  height: 50px;
  margin:0 auto;
  background-color: white;
}
/*meubar
-------------------------------------------------------------------*/
.menu_bar{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
 /* border: none;*/
}
.menu_bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.menu_content{
  padding-top: 10em;
}
.menu_content a:hover{
   background-color: #3b5998;
}
/*LOGIN form 
---------------------------------------------------------------------*/
.login_form{
  display: none;
}

/*main_body
------------------------------------------*/
.main_body{
  /*width: 1100;*/
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
.row_space{
  margin-bottom: 30px;
}
.sub_body{
  background-color:  rgba(1, 1, 19, 0.63);
  color: black;
  width: 1200px;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
    /*background-color: black;*/
  /*display: none;*/

}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}